<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, fit-to-shrink=no">
	<title>Angular Material Form</title>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="./assets/css/style.css">

	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
</head>
<body ng-app="newApp">
	<div id="wrapper">

		<!-- Toolbar -->
		<md-toolbar>
			<h1>Angular Material Design</h1>
		</md-toolbar>

		<!-- Update Advertisement -->
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Update Advertisement</span>              
				</md-card-title-text>
			</md-card-title>  
			<md-card-content>
				<form name="userForm" novalidate>
					<div layout="column">

						<!-- Ad Title -->
						<md-input-container>
							<label>Ad Title</label>
							<input type="text" name="name" ng-model="user.name">
						</md-input-container>
						<!-- Leads -->
						<md-input-container>
							<label>Leads</label>
							<input type="text" name="username" ng-model="user.username" minlength="3" maxlength="8">
						</md-input-container>     
						<!-- Category -->
						<md-input-container  ng-controller="SelectOptGroupController" ng-cloak>
							<label>Category</label>
							<md-select ng-model="cat">
								<md-optgroup label="Account & Bookkeeping">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'A & B' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Administrative">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'Adm' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Business Services">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'B A' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Customer Support">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'C S' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Design and Multimedia">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'D & M' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Engineering">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'Eng' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Mobile Development">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'M D' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Multilingual Communication Services">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'M C S' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Networking">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'Net' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Online Teaching">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'OT' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Sales & Marketing">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'S & M' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Software Development">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'S D' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Virtual Assistance">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'V A' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Web Development">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'W D' }">{{cat.name}}</md-option>
								</md-optgroup>
								<md-optgroup label="Writting">
									<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'Wri' }">{{cat.name}}</md-option>
								</md-optgroup>
							</md-select>
						</md-input-container>
						<!-- Classification -->
						<md-input-container>
							<label>Classification</label>
							<input type="text">
						</md-input-container>
						<!-- Outsourcing Model -->
						<md-input-container>
							<label>Outsourcing Model</label>
							<input type="text">
						</md-input-container>
						<!-- Company -->
						<md-input-container>
							<label>Company</label>
							<input type="text">
						</md-input-container>
						<!-- Heading -->
						<md-input-container>
							<label>Heading</label>
							<input type="text">
						</md-input-container>
						<!-- Status -->
						<md-input-container>
							<label>Status</label>
							<md-select name="type" ng-model="">
								<md-option value="app">Yes</md-option>
								<md-option value="web">No</md-option>
							</md-select>
						</md-input-container>
						<!-- Show Status -->
						<md-input-container >
							<label for="">Show Status</label>
							<md-select name="type" ng-model="project.type">
								<md-option value="app">Yes</md-option>
								<md-option value="web">No</md-option>
							</md-select>
						</md-select>

					</md-input-container>
				</form>
				<md-card-content>
					<md-card-actions layout="row" layout-align="end center">
						<md-button ng-click="submitForm()" class="md-raised md-default">Cancel</md-button>
						<md-button ng-click="submitForm()" class="md-raised md-primary">Submit</md-button>
					</md-card-actions>
				</md-card-content>
			</md-card>



			

		</div>



		<!-- 	<md-content class="md-padding">
				<md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
					<md-nav-item md-nav-click="goto('page1')" name="page1">
						Page One
					</md-nav-item>
					<md-nav-item md-nav-click="goto('page2')" name="page2" ng-disabled="secondTabDisabled">
						Page Two
					</md-nav-item>
				</md-nav-bar>
				<span>{{status}}</span>
				<div class="ext-content">
					{{currentNavItem}}
				</div>
			</md-content>
		</div> -->

		<!-- Angular Material requires Angular.js Libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

		<!-- Angular Material Library -->
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

		<!-- Custom Script -->
		<script type="text/javascript" src="./assets/js/script.js"></script>



	</body>
	</html>