
<md-dialog aria-label="Mango (Fruit)" flex="65" id="Jobdialog">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ SelectedDoc.ad_job_or_title }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">x
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>

<!--     <md-dialog-content layout="row" layout-wrap>
      <div class="md-dialog-content" layout="column">
          
        <p>{{disDoc.data.manager_info}}</p>
 
      </div>

    </md-dialog-content> -->
<md-dialog-content>
      <div class="md-dialog-content">
      <h4>Job Details:</h4>
       <p>Working Status : <b>{{SelectedDoc.work_status}}</b></p>
       <p>Level: <b>{{SelectedDoc.level}}</b></p>
       <p>Work Schedule: <b>{{SelectedDoc.work_time_zone}} {{SelectedDoc.work_start_time[0].toString()}}:{{SelectedDoc.work_start_time[1].toString()}} - {{SelectedDoc.work_end_time[0].toString()}}:{{SelectedDoc.work_end_time[1].toString()}}</b></p>
       <p>Work Location: <b>{{SelectedDoc.out_sourcing_model}}</b></p>
       <p>No. of staff needed: <b>{{SelectedDoc.quantity}}</b></p>
      </div>

      <md-divider id="cusDivider" ng-if="!$last"></md-divider>

      <div class="md-dialog-content">
        <p>Job Summary:</p>
        <p>{{SelectedDoc.heading}}</p>

        <h4>Resposibilities</h4>
        <p ng-repeat="resData in SelectedDoc.responsibilities">{{ resData }}</p>

        <h4>Requirements must have</h4>
        <ul ng-repeat="mustHave in SelectedDoc.requirements_must_have">
          <li>{{ mustHave }}</li>
        </ul>

        <h4>Requirement good to have</h4>
        <ul ng-repeat="goodHave in SelectedDoc.requirements_good_to_have">
          <li>{{ goodHave }}</li>
        </ul>
        
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn md-raised" href="#!/updateAds/{{SelectedDoc._id}}" ng-click="answer('not useful')">
          Edit
        </md-button>
        <span flex></span>
  
      </md-dialog-actions>
  </form>
</md-dialog>