<div id="rec_upd_jobspec">

	<md-toolbar layout-align="center center" class="md-warn">
		<h1>Update Advertisement</h1>
	</md-toolbar>

<!-- Update Advertisement Template -->
<div id="updJobAds">
	<form name="userForm" ng-controller="populateJobAds">
		<!-- Job Ad Information Card -->
		<md-card id="jobAd">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Job Ad Information</span>       
				</md-card-title-text>
			</md-card-title>  
			<md-card-content>
				<div layout="column">
					<!-- Ad Title -->
					<md-input-container>
						<label>Ad Title </label>
						<input type="text" value="{{displayDoc.data.ad_job_or_title}}">
					</md-input-container>
					<!-- Leads					 -->
					<md-input-container>
						<label>Leads</label>
						<input type="text" value="{{displayDoc.data.leads_or_client}}" disabled>
					</md-input-container>     
					<!-- Category -->
					<md-input-container ng-cloak>
						<label>Category</label>
						<md-select ng-model="cat" ng-value="{{displayDoc.data.category}}" placeholder="dfdsfdfd">
							
							<!-- Selected Doc Category -->
							<md-optgroup>
								<md-option ng-value="{{displayDoc.data.category}}" selected>{{displayDoc.data.category}}</md-option>
							</md-optgroup>

							<md-optgroup label="Account & Bookkeeping">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'A & B' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Administrative">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'Adm' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Business Services">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'B A' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Customer Support">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'C S' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Design and Multimedia">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'D & M' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Engineering">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'Eng' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Mobile Development">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'M D' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Multilingual Communication Services">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'M C S' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Networking">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'Net' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Online Teaching">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'OT' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Sales & Marketing">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'S & M' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Software Development">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'S D' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Virtual Assistance">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'V A' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Web Development">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'W D' }">{{cat.name}}</md-option>
							</md-optgroup>
							<md-optgroup label="Writting">
								<md-option ng-value="cat.name" ng-repeat="cat in jobcat | filter: {category: 'Wri' }">{{cat.name}}</md-option>
							</md-optgroup>
						</md-select>
					</md-input-container>
					<!-- Classification -->
					<md-input-container>
						<label>Classification</label>
						<md-select ng-model="class">

							<!-- Selected Classification -->
							<md-optgroup>
								<md-option ng-value="{{displayDoc.data.classification}}" selected>{{displayDoc.data.classification}}
							</md-option>

							</md-optgroup>
							<md-option ng-value="class.name" ng-repeat="class in jobClass">{{class.name}}</md-option>
						</md-select>
					</md-input-container>
					<!-- Outsourcing Model -->
					<md-input-container>
						<label>Outsourcing Model</label>
						<md-select ng-model="O_model">

							<md-option ng-value="{{displayDoc.data.out_sourcing_model}}" selected>{{displayDoc.data.out_sourcing_model}}</md-option>

							<md-option ng-value="O_model.name" ng-repeat="O_model in OM">{{O_model.name}}</md-option>
						</md-select>	
					</md-input-container>
					<!-- Company -->
					<md-input-container>
						<label>Company</label>
						<md-select ng-model="comp">
							<md-option ng-value="{{displayDoc.data.company}}">{{displayDoc.data.company}}</md-option>
							<md-option ng-value="comp.name" ng-repeat="comp in jobComp">{{comp.name}}</md-option>
						</md-select>
					</md-input-container>
					<!-- Heading -->
					<md-input-container>
						<label>Heading</label>
						<textarea name="" id="textHeading" cols="30" rows="10">{{displayDoc.data.heading}}</textarea>
					</md-input-container>
					<!-- Status -->
					<md-input-container>
						<label>Status</label>
						<md-select name="type" ng-model="jStat">
							<md-option ng-value="{{displayDoc.data.status}}" aria-label>{{displayDoc.data.status}}</md-option>
							<md-option ng-value="jStat.name" ng-repeat="jStat in jobStatus">{{jStat.name}}</md-option>
						</md-select>
					</md-input-container>
					<!-- Show Status -->
					<md-input-container>
						<label>Show Status</label>
						<md-select name="type" ng-model="jShowStat">
							<md-option ng-value="{{displayDoc.data.classification}}" aria-label>{{displayDoc.data.show_status}}</md-option>
							<md-option ng-value="jShowStat.name" ng-repeat="jShowStat in jobShowStatus" aria-label>{{ jShowStat.name }}</md-option>
						</md-select>
					</md-input-container>
				</div>
			</md-card-content>
		</md-card>

		<!-- Requirements Card -->
		<md-card id="reqAd" ng-controller="reqAd">
			<md-card-title>
				<md-card-title-text layout-align=" center">
					<span class="md-headline">Requirements</span>
				</md-card-title-text>
				<md-button class="md-raised" ng-click="addNewColumn()"><i class="far fa-plus-square"></i>Add Requirement</md-button>
			</md-card-title>
			<md-card-content layout-align="center center" flex>

				<div layout="column" flex>
					<div ng-repeat="column in columns" layout="row" layout-align="center center">
						<md-input-container flex="90" md-no-float class="md-block">
							<input type="text" name="quest" ng-model="quest" placeholder="Input Requirements" />
						</md-input-container>

						<md-input-container flex="30" md-no-float class="md-block">
							<label>Please Select Rating</label>
							<md-select name="favoriteColor" ng-model="favoriteColor" placeholder="Please Select Rating" layout-align="center center">

								<md-option ng-repeat="type in reqType" layout-align="center center" value="{{type.name}}" ng-model="reqType.name">{{type.name}}</md-option>

							</md-select>
							<div class="errors" ng-messages="myForm.favoriteColor.$error">
								<div ng-message="required">Required</div>
							</div>
						</md-input-container>

						<md-input-container flex="4" class="btn-del">
							<md-button class="md-fab md-mini md-danger" aria-label="Use Android" ng-click="removeColumn($index)">
								<i class="fas fa-times"></i>
							</md-button>
						</md-input-container>

					</div>
				</div>		

			</md-card-content>
		</md-card>

		<!-- Responsibilities Card -->
		<md-card id="resAd" ng-controller="resAd">
			<md-card-title>
				<md-card-title-text layout-align=" center">
					<span class="md-headline">Responsibilities</span>
				</md-card-title-text>
				<md-button class="md-raised" ng-click="addNewColumn()"><i class="far fa-plus-square" ></i>Add Responsibility</md-button>
			</md-card-title>
			<md-card-content ng-cloak layout="row" layout-align="center center" layout-padding>
				<div layout="column" flex>
					<div ng-repeat="column in columns" layout="row" layout-align="center center">
						<md-input-container flex="100" md-no-float class="md-block">
							<input type="text" name="quest" ng-model="quest" placeholder="Input Responsibilities" />
						</md-input-container>
						<md-input-container flex="4" class="btn-del">
							<md-button class="md-fab md-mini md-danger" aria-label="Use Android" ng-click="removeColumn($index)">
								<i class="fas fa-times"></i>
							</md-button>							
						</md-input-container>
					</div>
				</div>
			</md-card-content>
		</md-card>

		<!-- History Card -->
		<md-card id="hisAd">
			<md-card-title>
				<md-card-title-text  layout-align="center center" >
					<span class="md-headline">History</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<div layout="column">

				</div>
			</md-card-content>
		</md-card>

		<!-- Action Button -->
		<md-card-content>
			<md-card-actions layout="row" layout-align=" center">
				<md-button ng-click="submitForm()" class="md-raised md-default">Cancel</md-button>
				<md-button ng-click="submitForm()" class="md-raised md-warn">Update Job Ads</md-button>
			</md-card-actions>
		</md-card-content>
	</form>
</div>

</div>